.containerTasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
}

.formNewAtv {
    display: flex;
    justify-content: space-between;
    min-width: 40rem;
    overflow-x: auto;
}

.btnBack {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    width: 40rem;
}
